{{!-- Navbar --}}

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <h4>Mump</h4>
  </a>
  Welcome {{ userAuthenticated.firstName }}
  {{#if userAuthenticated }}
  <button type="button" class="btn btn-danger" onclick="location.href='/logout'">
    Logout
  </button>
  {{else}}
  <button type="button" class="btn btn-primary" onclick="location.href='/login'">
    Login
  </button>

  {{/if}}
</nav>

<div class="container dashboard">
  <h1>You have no open tickets</h1>
{{!-- 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> --}}

  {{!-- TABLE WITH THE TICKETS --}}

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title:</th>
        <th scope="col">Date created:</th>
        <th scope="col">Status:</th>
        <th scope="col">Details:</th>
      </tr>
    </thead>
    <tbody>
      {{#each tickets}}
      <tr>
        <th scope="row">{{this.title}}</th>
        <td>{{this.date}}</td>
        <td>{{this.status}}</td>
        <td><button type="button" onclick="window.location.href='/user/ticket?ticket_id={{this._id}}'"
            class="btn btn-primary btn-sm">
            Check ticket
          </button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Button trigger modal -->
  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Open a new ticket
    </button>
  </div>
</div>
<!-- Modal Submit Ticket -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit a ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/ticketcreation" method="POST" id="form">


          <label for="title"><strong>Title:</strong></label>
          <input type="text" name="title" required>


          <label for="description"><strong>Description:</strong></label>
          <textarea type="text" class="form-control" name="description" rows="3"></textarea>
          <br>

          <button>Upload picture</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>