<div class="container-dashboard">

  <!-- 1st column on the left that contains AVATAR , MENU and LOGOUT button  -->

  <section class="left-navigator">
    <div class="white-frame">
      <div class="user">
        <img src="/images/default-avatar.png" alt="" class="user-avatar" width="100px" height="100px">
        <h5> {{ userAuthenticated.firstName }} {{ userAuthenticated.lastName }}</h5>
      </div>

      <div class="nav-buttons">
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/dashboard'"> <img class="test"
            src="/images/icons/dashboard-grey.png" alt="dashboard">
          Dashboard</button>
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/staff-tickets'"> <img class="test"
            src="/images/icons/ticket-green.png" alt="ticket">Current Tickets</button>
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/closed-tickets'"><img class="test"
            src="/images/icons/past-grey.png" alt="past-tickets">Closed Tickets</button>
        <button class="btn btn-outline-secondary active" onclick="location.href='/staff/users'"><img class="test"
            src="/images/icons/contacts-grey.png" alt="contacts">Clients</button>
      </div>

      <div class="logout-button">
        <button onclick="location.href='/logout'" class="btn btn-primary">Logout</button>
      </div>


    </div>
  </section>

  <!-- 2nd column - center - Contains div with DASHBOARDNAME , STATS , CALENDAR -->

  <section class="current-ticket-dashboard">

    <div class="container ticket-container">
      <div class="page-header">
        <h1>Users Panel</h1>
      </div>
      <div class="scroll-table">
        <table class="table table-hover" data-spy="scroll">
          <thead>
            <tr>
              <th scope="col">Name:</th>
              <th scope="col">Email:</th>
              <th scope="col">Action:</th>
            </tr>
          </thead>
          <tbody>
            {{#each user}}
            <tr>
              <th scope="row">{{this.firstName}} {{this.lastName}}</th>
              <td>{{this.email}}</td>
              <td><button type="button" onclick="myFunction()" class="btn btn-primary btn-sm" data-toggle="modal"
                  data-target="#">
                  Make Admin
                </button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>



  </section>
</div>