<div class="container-dashboard">

  <!-- 1st column on the left that contains AVATAR , MENU and LOGOUT button  -->

  <section class="left-navigator">
    <div class="white-frame">
      <div class="user">
        <img src="/images/default-avatar.png" alt="" class="user-avatar" width="100px" height="100px">
        <h5> {{ userAuthenticated.firstName }} {{ userAuthenticated.lastName }}</h5>
      </div>

      <div class="nav-buttons">
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/dashboard'"> <img class="test"
            src="/images/icons/dashboard-grey.png" alt="dashboard">
          Dashboard</button>
        <button class="btn btn-outline-secondary active" onclick="location.href='/staff/staff-tickets'"> <img
            class="test" src="/images/icons/ticket-green.png" alt="ticket">Current Tickets</button>
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/closed-tickets'"><img class="test"
            src="/images/icons/past-grey.png" alt="past-tickets">Closed Tickets</button>
        <button class="btn btn-outline-secondary" onclick="location.href='/staff/users'"><img class="test"
            src="/images/icons/contacts-grey.png" alt="contacts">Clients</button>
      </div>

      <div class="logout-button">
        <button onclick="location.href='/logout'" class="btn btn-primary">Logout</button>
      </div>


    </div>
  </section>

  <!-- Tickets list -->

  <section class="current-ticket-dashboard">

    <div class="container ticket-container">
      <div class="page-header">
        <h1>Current Tickets</h1>
      </div>
      <div class="scroll-table">
        <table class="table table-hover" data-spy="scroll">
          <thead>
            <tr>
              <th scope="col">Title:</th>
              <th scope="col">User Email:</th>
              <th scope="col">Date created:</th>
              <th scope="col">Status:</th>
              <th scope="col">Details:</th>
            </tr>
          </thead>
          <tbody>
            {{#each tickets}}
            <tr>
              <th scope="row">{{this.title}}</th>
              <td>{{this.email}}</td>
              <td>{{this.creationDate}}</td>
              <td>{{this.status}}</td>
              <td><button type="button" class="btn btn-primary btn-sm"
                  onclick="location.href='/staff/staff-ticket?ticket_id={{this._id}}'">
                  Check ticket
                </button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="ticket-creation-button">
        <button class="btn btn-primary" data-toggle="modal" data-target="#createTicket">Create Ticket</button>
      </div>
    </div>
  </section>
</div>

<!-- Modal Submit Ticket -->
<div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="createTicketLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTicketLabel">Submit a ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/ticketcreation" method="POST" id="form" enctype="multipart/form-data">

          <label for="title"><strong>What's the title of your ticket?</strong></label>
          <input type="text" name="title" required>

          <label for="description"><strong>Give it a nice description:</strong></label>
          <textarea type="text" class="form-control" name="description" rows="3" required></textarea>
          <br>

          <label for="imagePath">Attachments:</label>
          <input type="file" name="photo">

          <button type="submit" value="SAVE" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

<!-- Modal Check Ticket -->
<div class="modal fade" id="ticketDetails" tabindex="-1" role="dialog" aria-labelledby="ticketDetailsLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ticketDetailsLabel">Ticket Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><strong>Title:</strong> {{tickets.[0].title}} </h5>
        <br>
        <h5><strong>Description:</strong></h5>
        {{tickets.[0].description}}
      </div>
      <div class="modal-body">
        <h5><strong>Attachment:</strong></h5>
        <img class="attach-item" src="{{tickets.[0].imagePath}}" width="50%" alt="">
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>